{% extends 'myapp/base.html' %}

{% block title %}
    Products
{% endblock %}

{% block body_block %}
    {% if prodlist %}
        <h2>Available products from top 10 products are</h2>
        <ol>
            {% for product in prodlist %}
                {% if product.available %}
                    <li><a href="{{ product.id }}/">{{ product.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no available products!</strong>
    {% endif %}
{#     {% if user.is_authenticated %}#}
{#             <p class="hbar1"><a href="{% url 'myapp:place_order' %}">Place Order</a></p>#}
{#        {% else %}#}
{#            <h3>Login to Place Order</h3>#}
{#     {% endif %}#}
    <p class="hbar1"><a href="{% url 'myapp:place_order' %}">Place Order</a></p>
{% endblock %}